.nav-home {
    width: 14rem;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.content {
    display: flex;
    justify-content: center;
    width: calc(100% - 14rem);
    background-color: rgb(18, 18, 18);
}

.inner-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 98%;
    padding-right: 0.75rem;
    height: 99vh;
    overflow: auto;
}

.router-container {
    width: 100%;
}

.button-config {
    margin-top: 40vh;

    p-button {
        box-shadow: 2px 0px 10px 2px rgb(48, 48, 48);
    }
}