<div class="maker-canvas-container" style="width: 684px; height: 548px; position: relative; user-select: none;"
    tabindex="1">
    <canvas data-v-6a2d41b6="" id="js-maker-canvas" class="maker-canvas lower-canvas"
        style="position: absolute; width: 684px; height: 548px; left: 0px; top: 0px; touch-action: none; user-select: none;"
        width="684" height="548">
    </canvas>
    <canvas class="upper-canvas maker-canvas"
        style="position: absolute; width: 684px; height: 548px; left: 0px; top: 0px; touch-action: none; user-select: none; cursor: default;"
        width="684" height="548">
    </canvas>
</div>